version: '3'
services:
  app:
    image: my_flask_app
    depends_on:
      - db
    environment:
      - DB_HOST=db
      - DB_USER=root
      - DB_PASSWORD=1234
      - DB_NAME=testdb
    ports:
      - "5000:5000"

  db:
    image: mysql:5.7
    environment:
      - MYSQL_ROOT_PASSWORD=1234
      - MYSQL_DATABASE=testdb
    ports:
      - "3306:3306"
